* { 
  box-sizing: border-box; 
}

body { 
  margin: 0;
  font-family: sans-serif;
} 

.intro-content-background {
  background: #23424A;
  color: white;
  padding: 50px; 
}

.intro-content-container {
  margin: 0 auto;
  max-width: 750px;
}

.intro-content {
  width: 50%;
}

.more-content-container {
  padding: 0 50px;
}

.more-content {
  margin: 0 auto;
  max-width: 750px;
}